<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>Add User Details</title>
        <!-- App css -->
        
        <!-- DataTables -->
        <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/assets/plugins/switchery/switchery.min.css}">
		<link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">

        <script th:src="@{/assets/js/modernizr.min.js}"></script>
		<link th:href="@{/assets/css/fstdropdown.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

         <th:block th:replace="user/header :: header"></th:block>
        
       	 <th:block th:replace="admin/menu :: menu"></th:block>
         
		 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                       <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">User Details </h4>
                                    <ol class="breadcrumb p-0 m-0">
                                        <li>
                                            <a th:href="@{/admin/user-list}">Users</a>
                                        </li>
                                        <li>
                                            <a href="#" th:text="${userDetail.user.firstName + ' ' + userDetail.user.lastName}"> </a>
                                        </li>
                                        <li class="active">
                                            User Details
                                        </li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                       
                       	<div class="row">
                           	<div class="col-xs-12">
                           	<div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${error}">
	                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                                <span aria-hidden="true">×</span>
	                            </button>
	                            <strong>Oh snap!</strong> <th:block th:text="${error}"></th:block>
	                        </div>
	                        <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${success}">
	                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                                <span aria-hidden="true">×</span>
	                            </button>
	                            <strong>Success</strong> <th:block th:text="${success}"></th:block>
	                        </div>
                                <div class="card-box">
                        			<div class="row" >
                                        <div class="col-sm-12 col-xs-12" id="client_details">

                                            <h4 class="header-title m-t-0">Add User Details</h4>
                                            <div class="p-20">
                                                <form th:action="@{/admin/add-user-detail}" th:object="${userDetail}" method="post" data-parsley-validate novalidate>
                                                    <div class="row">
	                                                    <div class="form-group col-sm-6">
	                                                        <label>Client Name<span class="text-danger">*</span></label>
	                                                        <input type="hidden" th:field="*{user}"required>
	                                                        <input type="hidden" th:field="*{userDetailId}">
	                                                        <input type="text" th:field="*{clientName}" parsley-trigger="change" required
	                                                               placeholder="Enter client name" class="form-control">
	                                                        <label th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}" class="validation-message"></label>
	                                                    </div>
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="vendorName">Vendor Name<span class="text-danger"></span></label>
	                                                        <input type="text" th:field="*{vendorName}" parsley-trigger="change"
	                                                               placeholder="Enter vendor name" class="form-control">
	                                                    </div>
                                                    </div>
                                                    <div class="row">
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="employerName">Employer Name<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{employerName}" parsley-trigger="change" required
	                                                               placeholder="Enter employer name" class="form-control">
	                                                        <label	th:if="${#fields.hasErrors('employerName')}" th:errors="*{employerName}" class="validation-message"></label>
	                                                    </div>
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="employerPhone">Employer Phone<span class="text-danger"></span></label>
	                                                        <input type="text" th:field="*{employerPhone}" parsley-trigger="change"
	                                                               placeholder="Enter employer phone" class="form-control">
	                                                    </div>
	                                                </div>
	                                                <div class="row">
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="employerEmail">Employer Email<span class="text-danger"></span></label>
	                                                        <input type="email" th:field="*{employerEmail}" parsley-trigger="change"
	                                                               placeholder="Enter employer email" class="form-control">
	                                                    </div>
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="address">Address<span class="text-danger"></span></label>
	                                                        <input type="text" th:field="*{address}" parsley-trigger="change"
	                                                               placeholder="Enter address" class="form-control">
	                                                    </div>
	                                                </div>
	                                                <div class="row">
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="clientRate">Client Rate<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{clientRate}" parsley-trigger="change" required
	                                                               placeholder="Enter client rate" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('clientRate')}" th:errors="*{clientRate}" class="validation-message"></label>
	                                                    </div>
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="consultantRate">Consultant Rate<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{consultantRate}" parsley-trigger="change" required
	                                                               placeholder="Enter consultant rate" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('consultantRate')}" th:errors="*{consultantRate}" class="validation-message"></label>
	                                                    </div>
	                                                </div>
	                                                
	                                                <div class="row">
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="recruiterName">Account Manager Name<span class="text-danger">*</span></label>
	                                                        <select class="form-control fstdropdown-select" th:field="*{accountManagerName}" required>
							                                	<option value=""> Select Account Manager</option>
																<option th:each="accountManager : ${accountManagers}"
							                                        	th:text="${accountManager.firstname +' ' + accountManager.lastname}"
																		th:value="${accountManager.firstname +' ' + accountManager.lastname}">
							                                   	</option>
							                         		</select>
	                                                        <label	th:if="${#fields.hasErrors('accountManagerName')}" th:errors="*{accountManagerName}" class="validation-message"></label>
	                                                    </div>
	                                                    <div class="form-group col-sm-6">
	                                                        <label for="recruiterName">Account Manager Commission<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{aCMCommission}" parsley-trigger="change" required
	                                                               placeholder="Enter account manager commission" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('aCMCommission')}" th:errors="*{aCMCommission}" class="validation-message"></label>
	                                                    </div>
	                                                </div>
	                                                
	                                                <div class="row">
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName">Business Development Manager Name<span class="text-danger">*</span></label>
	                                                         <select class="form-control fstdropdown-select" th:field="*{businessDevelopmentManagerName}" required>
							                                	<option value=""> select Business Development</option>
																<option th:each="BDM : ${BDMList}"
							                                        	th:text="${BDM.firstname +' ' + BDM.lastname}"
																		th:value="${BDM.firstname +' ' + BDM.lastname}">
							                                   	</option>
							                         		</select>
	                                                        <label	th:if="${#fields.hasErrors('businessDevelopmentManagerName')}" th:errors="*{businessDevelopmentManagerName}" class="validation-message"></label>
	                                                    
	                                                    
	                                                    </div>
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName">Business Development Manager Commission<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{bDMCommission}" parsley-trigger="change" required
	                                                               placeholder="Enter business development manager commission" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('bDMCommission')}" th:errors="*{bDMCommission}" class="validation-message"></label>
	                                                    </div>
	                                                 </div>
	                                                 
	                                                <div class="row">
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName ">Recruiter Name<span class="text-danger">*</span></label>
							                                <select class="form-control fstdropdown-select" th:field="*{recruiterName}" required>
							                                	<option value=""> Select Recruiter</option>
																<option th:each="recruiter : ${recruiters}"
							                                        	th:text="${recruiter.firstname +' ' + recruiter.lastname}"
																		th:value="${recruiter.firstname +' ' + recruiter.lastname}">
							                                   	</option>
							                         		</select>
		                                                    <label	th:if="${#fields.hasErrors('recruiterName')}" th:errors="*{recruiterName}" class="validation-message"></label>
	                                                    </div>
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recCommission">Recruiter Commission<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{recCommission}" parsley-trigger="change" required
	                                                               placeholder="Enter recruiter commission" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('recCommission')}" th:errors="*{recCommission}" class="validation-message"></label>
	                                                    </div>
	                                                 </div>
	                                                 
	                                                 <div class="row">
	                                                 	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName">W2<span class="text-danger"></span></label>
	                                                        <input type="text" th:field="*{w2}" parsley-trigger="change"
	                                                               placeholder="Enter w2" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('w2')}" th:errors="*{w2}" class="validation-message"></label>
	                                                    </div>
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName">Ptax<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{ptax}" parsley-trigger="change" required
	                                                               placeholder="Enter ptax" class="form-control hourNum">
	                                                        <label	th:if="${#fields.hasErrors('ptax')}" th:errors="*{ptax}" class="validation-message"></label>
	                                                    </div>
	                                                	
                                                    </div>
                                                    
	                                                <div class="row">
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="recruiterName">c2c/other<span class="text-danger"></span></label>
	                                                        <input type="text" th:field="*{c2cOrother}" parsley-trigger="change"
	                                                               placeholder="Enter c2c/other" class="form-control hourNum">
	                                                    </div>
	                                                	<div class="form-group col-sm-6">
	                                                        <label for="startDate">Start Date<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{startDate}" required class="form-control" placeholder="mm/dd/yyyy" id="datepicker" />
	                                                        <label	th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="validation-message"></label>
	                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                    	<div class="form-group col-sm-6">
	                                                        <label for="endDate">End Date<span class="text-danger">*</span></label>
	                                                        <input type="text" th:field="*{endDate}" required class="form-control" placeholder="mm/dd/yyyy" id="datepicker2" />
	                                                        <label	th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="validation-message"></label>
	                                                    </div>
                                                    	<div class="form-group col-sm-6">
	                                                        <label for="endDate">Select submit time sheet period <span class="text-danger">*</span></label>
	                                                        <select th:field="*{timeSheetPeriod}" class="form-control fstdropdown-select">
	                                                        	<option th:each="timeSheet : ${T(com.aim.enums.TimeSheetPeriod).values()}"
	                                                        		th:value="${timeSheet.urlParam}"
																	th:text="${timeSheet.displayLabel}"></option>
	                                                        </select>
<!-- 	                                                        <label	th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="validation-message"></label> -->
	                                                    </div>
                                                    </div>
                                                    
                                                    <div class="form-group text-center col-sm-12">
                                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                                                            Update Client Details
                                                        </button>
                                                        <button type="reset" class="btn btn-danger waves-effect m-l-5" onclick="window.history.go(-1); return false;">
                                                            Cancel
                                                        </button>
                                                    </div>

                                                </form>
                                            </div>

                                        </div>
                                    	
                                    	<div class="card-box table-responsive">
									
		                                    <table id="datatable" class="table table-striped  table-colored table-info">
		                                        <thead>
			                                        <tr>
			                                            <th>No</th>
			                                            <th>Client</th>
			                                            <th>Vendor</th>
			                                            <th>Employer Name</th>
			                                            <th>Employer Phone</th>
			                                            <th>Employer Email</th>
			                                            <th>Actions</th>
			                                        </tr>
		                                        </thead>
		                                        <tbody>
			                                        <tr class="odd gradeX" th:each="userDetail,index : ${userDetails}">
			                                            <td th:text="${index.index + 1}"></td>
			                                            <td th:text="${userDetail.clientName}"></td>
			                                            <td th:text="${userDetail.vendorName}"></td>
			                                            <td th:text="${userDetail.employerName}"></td>
			                                            <td th:text="${userDetail.employerPhone}"></td>
			                                            <td th:text="${userDetail.employerEmail}"></td>
			                                            <td>
			                                            	<a data-toggle="modal" data-target="#custom-width-modal" th:onclick="'bacisDetails(' + ${userDetail.userDetailId} + ')'"><i class="ion-information round-icon-1" data-toggle="tooltip" data-placement="left" data-placement="left" data-placement="right" title="Basic Details"></i></a>
			                                            	<a th:href="@{${'/admin/user-detail/' + {userDetail.user.id} + '?userDetailId=' + {userDetail.userDetailId} } }"><i class="ion-edit icon-size-24" data-toggle="tooltip" data-placement="right" title="Edit"></i></a>
			                                            	<a th:href="@{${'/admin/user-hour-log/' + {userDetail.userDetailId}}}"><i class="ion-calendar icon-size-24" data-toggle="tooltip" data-placement="right" title="Hour Log"></i></a>
			                                            	<a th:if="${!userDetail.active}" th:href="@{${'/admin/user-detail/active/' + userDetail.userDetailId}}"><i class="ion-ios7-circle-filled icon-size-24 text-success border-shadow-danger" data-toggle="tooltip" data-placement="left" title="Active"></i></a>
			                                            	<a th:if="${userDetail.active}" th:href="@{${'/admin/user-detail/de-active/' + userDetail.userDetailId}}"><i class="ion-ios7-circle-filled icon-size-24 text-danger border-shadow-success" data-toggle="tooltip" data-placement="left" title="De-Active"></i></a>
			                                           	
			                                           	
			                                           	</td>
			                                        </tr>
		                                        </tbody>
	                                        </table>
	                                     </div>
	                                     
	                                     
	                                     <div class="card-box table-responsive">
											<button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#custom-width-modal-file" style="float: right;">Add Files</button>
		                                    <table id="datatable1" class="table table-striped  table-colored table-info">
		                                        <thead>
			                                        <tr>
			                                            <th>No</th>
			                                            <th>Type</th>
			                                            <th>Link</th>
			                                            <th>Exp. Date</th>
			                                            <th>Remark</th>
			                                            <th>Actions</th>
			                                        </tr>
		                                        </thead>
		                                        <tbody>
			                                        <tr class="odd gradeX" th:each="userFile,index : ${userFiles}">
			                                            <td th:text="${index.index + 1}"></td>
			                                            <td th:text="${userFile.type}"></td>
			                                            <td> <a th:href="@{|/admin/user-file/download/${userFile.id}|}" th:attr="download=${userFile.user.firstName + userFile.type + #dates.format(userFile.expDate, 'MMM-dd-yyyy')}">Link</a></td>
			                                            <td th:text="${#dates.format(userFile.expDate, 'MMM-dd-yyyy')}"></td>
<!-- 			                                            <td th:text="${#dates.dayOfWeekName(userFile.expDate)}"></td> -->
			                                            <td th:text="${userFile.remark}"></td>
			                                            <td>
			                                            	<a th:href="@{${'/admin/user-file/delete?id=' + {userFile.id} } }"><i class="ion-trash-a icon-size-24" data-toggle="tooltip" data-placement="right" title="Delete"></i></a>
			                                           	</td>
			                                        </tr>
		                                        </tbody>
	                                        </table>
	                                     </div>
	                                     
	                                     
                                   	</div>
                       			</div>
                      		</div><!-- end ard-box -->
                          </div><!-- end row -->
                          
							<div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
	                          <div class="modal-dialog modal-xl">
	                              <div class="modal-content">
	                                  <div class="modal-header">
	                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                                      <h4 class="modal-title" id="custom-width-modalLabel">View More Details</h4>
	                                  </div>
	                                  <div class="modal-body">
	                                    <div id="user-details-modal"></div>  
	                                  </div>
	                                  <div class="modal-footer">
	                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	                                  </div>
	                              </div>
	                          </div>
	                      </div><!-- /.modal -->
	                      
	                      <div id="custom-width-modal-file" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
	                          <div class="modal-dialog">
	                              <div class="modal-content">
	                                  <div class="modal-header">
	                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                                      <h4 class="modal-title" id="custom-width-modalLabel">Add new file</h4>
	                                  </div>
	                                  <form th:action="@{/admin/user-file}" enctype="multipart/form-data" method="post" data-parsley-validate novalidate>
		                                  <div class="modal-body">
		                                      <div class="row">
	                                             <div class="form-group">
	                                                 <label>Type<span class="text-danger">*</span></label>
	                                                 <input type="text" name="type" parsley-trigger="change" required placeholder="Enter type" class="form-control">
	                                                 <input type="hidden" name="id" th:value="${userDetail.user.id}">
	                                             </div>
	                                             <div class="form-group">
	                                                 <label for="vendorName">File<span class="text-danger">*</span></label>
	                                                 <input  class="form-control" name="file" type="file" required/>
	                                             </div>
	                                             <div class="form-group">
	                                                <label for="startDate">Expire Date<span class="text-danger">*</span></label>
	                                                <input type="text" name="expDate" required class="form-control" placeholder="mm/dd/yyyy" id="datepicker3" />
	                                            </div>
	                                             <div class="form-group">
	                                                 <label for="vendorName">Remark<span class="text-danger">*</span></label>
	                                                 <input  class="form-control" type="text" name="remark" required/>
	                                             </div>
	                                            </div>
		                                  </div>
		                                  <div class="modal-footer">
		                                   	  <button type="submit" class="btn btn-primary waves-effect">Save</button>
		                                      <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
		                                  </div>
	                                  </form>
	                              </div>
	                          </div>
	                      </div><!-- /.modal -->
                            
                    </div> <!-- container -->

                </div> <!-- content -->

            </div>
		

        </div>
        <!-- END wrapper -->
		<footer class="footer text-right"> 2016 - 2018 © Zircos. </footer>
        <script>
            var resizefunc = [];
        </script>

		<script th:inline="javascript">
			/*<![CDATA[*/
				var context = [[@{/}]];
				/*]]>*/
		</script>
		
        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
        <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>

        <script type="text/javascript" th:src="@{/assets/plugins/parsleyjs/parsley.min.js}"></script>

		<script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
        
        <!-- App js -->
        <script th:src="@{/assets/js/jquery.core.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>
        
     	<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
     	<script th:src="@{/assets/js/fstdropdown.js}"></script>
		<script th:src="@{/assets/js/javascript/user-detail.js}"></script>
		 
		<style>
			.validation-message{color: red;}
		</style>
        <script type="text/javascript">
			$(document).ready(function() {
				$('form').parsley();
				$('#datatable').DataTable({
					"scrollX": true
				});
				$('#datatable1').DataTable({
					"scrollX": true
				});
				$('#datepicker').datepicker();
				$('#datepicker2').datepicker();
				$('#datepicker3').datepicker();
				setFstDropdown();
				$('.hourNum').keypress(function (event) { 
					
					if(/*For dot*/event.which != 46 && event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57))
						return false;
					return true;
				});
			});
		</script>

    </body>
</html>