<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu" th:fragment="menu">
    <div class="sidebar-inner slimscrollleft">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="has_sub">
                    <a th:href="@{/supervisor/home}" class="waves-effect">
                    	<i class="mdi mdi-view-dashboard"></i>
                    	<span th:text="#{dashboard}"> Dashboard </span> 
                    </a>
                </li>
				
				<li class="has_sub">
                    <a th:href="@{/supervisor/time-sheet}" class="waves-effect">
	                    <i class="mdi mdi-timetable"></i><span> Time Sheet </span> 
                   	</a>
                </li>
				<li class="has_sub">
                    
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
	                    <i class="mdi mdi-calendar-clock"></i><span> Schedular </span> 
	                    <span class="menu-arrow"></span>
                   	</a>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/supervisor/schedular}" class="waves-effect">
	                    	<i class="mdi mdi-calendar-clock"></i><span>Manage Schedular </span> 
                   			</a>
                   		</li>
                        <li><a th:href="@{/supervisor/time-sheet-schedular}">
                        <i class="mdi mdi-timetable"></i><span>Time sheet</span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

        <div class="help-box">
            <h5 class="text-muted m-t-0">For Help ?</h5>
            <p class=""><span class="text-dark"><b>Email:</b></span> <br/> <th:block th:text="#{help.email}"> Parth Solanki</th:block></p>
        </div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->