<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>Home</title>

        <!-- App css -->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/assets/plugins/switchery/switchery.min.css}">
		<link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{/assets/js/modernizr.min.js}"></script>
        <link th:href="@{/assets/css/fstdropdown.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />

    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">
			
			<th:block th:replace="user/header :: header"></th:block>
        
        	<th:block  th:if="${session.user.role == 'ROLE_SUPERVISOR'}">
        		<th:block th:replace="supervisor/menu :: menu"></th:block>
        	</th:block>
        	
        	<th:block  th:if="${session.user.role == 'ROLE_ADMIN'}">
        		<th:block th:replace="admin/menu :: menu" ></th:block>
        	</th:block>
			
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
						<div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">Submitted TimeSheet </h4>
                                    <ol class="breadcrumb p-0 m-0">
                                        <li>
                                            <a th:href="@{/supervisor/home}">Home</a>
                                        </li>
                                        <li class="active">
                                            <a>Submitted TimeSheet</a>
                                        </li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
					<div class="card-box">
<!-- 						 <h4 class="m-t-0 header-title"><b>Time sheet</b></h4>  -->

						<div class="row mb-20">
								<div class="col-sm-3">
                             		<label class="control-label" for="example-input1-group3">Year</label>
                                 	<select class="form-control fstdropdown-select" onchange="if (this.value) window.location.href=this.value" >
										<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()) ,2017)}"
	                                        	class="year-box-option" th:text="${year}" th:value="${'?year=' + year}" th:selected="${year == selectedYear}">
	                                   	</option>
	                         		</select>
                               	</div>
                                	
                        		<div class="col-sm-3">
                             		<label class="control-label" for="example-input1-group3">Month</label>
                                 	<select name="sort" class="form-control fstdropdown-select" onchange="if (this.value) window.location.href=this.value" id="sortByAction">
		  								<option th:each="month : ${T(com.aim.enums.Month).values()}" 
		  										th:value="'?year='+${selectedYear} +'&month=' + ${month.urlParam}"
		  										th:selected="${month} == ${selectedMonth}" th:text="${month.displayLabel}">
		  							    </option>
									</select>
                                </div>
                      		</div>
                         <table id="datatable" class="table table-striped  table-colored table-info">
                             <thead>
	                             <tr>
	                                 <th>No</th>
	                                 <th>User</th>
	                                 <th>Email</th>
	                                 <th>Time sheet count</th>
	                                 <th>Details</th>
	                             </tr>
                             </thead>

                             <tbody>
                              <tr class="odd gradeX" th:each="userTimeSheet,index : ${userTimeSheets}">
                                  <td th:text="${index.index + 1}"></td>
                                  <td th:text="${userTimeSheet.user.firstName + ' ' + userTimeSheet.user.lastName}"></td>
                                  <td th:text="${userTimeSheet.user.email}"></td>
                                  <td th:text="${userTimeSheet.timeSheetCount}"></td>
                                  <td>
                                  		<a th:if="${userTimeSheet.timeSheetCount > 0}" th:onclick="'timeSheetDetails(\''+ ${userTimeSheet.hourLogFileJSON} +'\')'" data-toggle='modal' data-target='#panel-modal'>
                                  			<i class="ion-information round-icon-1" data-toggle="tooltip"  data-placement="left" title="Client Details"></i>
                                  		</a>
                                  		
                                  </td>
                              </tr>
                             </tbody>
                         </table>
                     </div>
                </div> <!-- content -->
					<div id='panel-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;'>
                         <div class='modal-dialog'>
                             <div class='modal-content p-0 b-0'>
                                 <div class='panel panel-color panel-primary'>
                                     <div class='panel-heading'>
                                         <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
                                       	<h3 class='panel-title'>Time sheet</h3>
                                     </div>
                                     <div class='panel-body'>
                                        <div id="listId">
                       						<table id="popUpTable" class="table table-striped  table-colored table-info">
					                             <thead>
						                             <tr>
						                                 <th>No</th>
						                                 <th>Client</th>
						                                 <th>Date period</th>
						                             </tr>
                            					 </thead>
                             					<tbody> </tbody>
                         					</table>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
            	</div>
        	</div>
        </div>
        <!-- END wrapper -->
		<footer class="footer text-right"> 2016 - 2018 © Zircos. </footer>


        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
        <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>
		<script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
        <!-- App js -->
        <script th:src="@{/assets/plugins/moment/moment.js}"></script>
        <script th:src="@{/assets/js/fstdropdown.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>
        <script th:src="@{/assets/js/javascript/user-time-sheet.js}"></script>
		
    </body>
</html>