<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>HourLog</title>

        <!-- App css -->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
       	<link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/assets/plugins/switchery/switchery.min.css}">
		
		<link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
        <link th:href="@{/assets/plugins/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/fstdropdown.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{/assets/js/modernizr.min.js}"></script>

    </head>


    <body class="fixed-left user-hour-log">

        <!-- Begin page -->
        <div id="wrapper">
			
			<th:block th:replace="user/header :: header"></th:block>
        
        	<th:block th:replace="user/menu :: menu"></th:block>
			
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content --> 
                <div class="content">
                    <div class="container">
                    	<div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title" th:classappend="${hideTimeSheet or hideReport} ? 'hide' : ''">Time Sheet </h4>
                                    <h4 class="page-title" th:classappend="${!hideTimeSheet or hideReport} ? 'hide' : ''">Report </h4>
                                    <h4 class="page-title" th:classappend="${hideTimeSheet or !hideReport} ? 'hide' : ''">Submitted timesheet </h4>
                                    <ol class="breadcrumb p-0 m-0">
                                        <li>
                                            <a th:href="@{/user/home}">Dashboard</a>
                                        </li>
                                        <li class="" th:classappend="${hideTimeSheet or hideReport} ? 'hide' : ''">
                                            <a href="#" th:text="${session.user.firstName  + ' ' + session.user.lastName}"> </a>
                                        </li>
                                        <li class="active" th:classappend="${hideTimeSheet or hideReport} ? 'hide' : ''">
                                            Time Sheet 
                                        </li>
                                        <li class="active" th:classappend="${!hideTimeSheet or hideReport} ? 'hide' : ''">
                                           	Report
                                        </li>
                                        <li class="active" th:classappend="${hideTimeSheet or !hideReport} ? 'hide' : ''">
                                           	Submitted timesheet
                                        </li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
						<div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${error}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Oh snap!</strong> <th:block th:text="${error}"></th:block>
                        </div>
                        <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${success}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Success</strong> <th:block th:text="${success}"></th:block>
                        </div>
                        
                        <div class="card-box" th:classappend="${hideReport} ? 'hide' : ''">
							<h4 class="m-t-0 header-title"><b>Time Sheet</b></h4>   
							<div class="row mb-20">
                        		<div class="col-sm-3">
									<label class="control-label" for="example-input1-group3">Year</label>
	                                <select class="form-control fstdropdown-select" onchange="if (this.value) window.location.href=this.value">
										<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()) ,2015)}"
	                                        	th:text="${year}" th:value="'?year=' + ${year} + '&report=' + ${hideTimeSheet}"
	                                        	th:selected="${year == selectYear}">
	                                        		
	                                   	</option>
	                         		</select>
                          		</div>
                          		<div class="col-sm-3">
									<label class="control-label" for="example-input1-group3">Client</label>
	                                <select class="form-control fstdropdown-select" th:onchange="'selectClient(this.value,\''+ ${hideReport} + '\',\'' + ${hideTimeSheet} +'\')'">
										<option th:each="details : ${userDetails}"
	                                        	th:text="${details.clientName}" th:value="${details.userDetailId}"
	                                        	th:selected="${details.userDetailId == userDetailId}">
	                                        		
	                                   	</option>
	                         		</select>
                          		</div>
<!--                           		<div class="col-sm-6"> -->
<!--                           			<a class="btn btn-sm btn-primary" th:href="@{${'/user/add-hours?id=' + {userDetailId} } }" style="float: right;">Add Hour Log</a> -->
<!--                           		</div> -->
                      		</div>
                      		<div class="setResponsive" th:if="${userDetail.timeSheetPeriod == 'oneWeek'} or ${userDetail.timeSheetPeriod == 'twoWeek'}">
								<table class="table table-striped table-colored table-info">
								    <thead>
										<tr>
											<th>No</th>
									     	<th>Period</th>
									     	<th>Monday</th>
									     	<th>Tuesday</th>
									     	<th>Wednesday</th>
									     	<th>Thursday</th>
									     	<th>Friday</th>
									     	<th>Saturday</th>
									     	<th>Sunday</th> 
									     	<th>Total</th> 
								      	</tr>
									</thead>
								    <tbody>
										<tr th:each="userHourLog,i : ${userHourLogs}">
								        	<td th:text="${i.index+1}"></td>
								        	<td th:text="${userHourLog.get('End') + ' To ' + userHourLog.get('Start')}"></td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Monday'),1,2)}">Monday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Tuesday'),1,2)}">Tuesday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Wednesday'),1,2)}">Wednesday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Thursday'),1,2)}">Thursday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Friday'),1,2)}">Friday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Saturday'),1,2)}">Saturday</td>
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Sunday'),1,2)}">Sunday</td> 
									     	<td th:text="${#numbers.formatDecimal(userHourLog.get('Total'),1,2)}">Total</td> 
								      	</tr>
								    </tbody>
							  	</table>
							  	<!-- pagination -->
					              <div class="col-12">
					               	<ul id="pagination-ul" class="pagination-sm"></ul>
					                <script th:inline="javascript">
										/*<![CDATA[*/
										var currentPageNo = [[${currentPage}]];
										var totalPages = [[${totalPage + 1}]]
										/*]]>*/
								   </script>
					              </div>
							<!--    end pagination  -->
							</div>
<!-- 				month hour log table -->
							<div class="setResponsive monthTable"  th:if="${userDetail.timeSheetPeriod == 'oneMonth'}">
								<table id="monthTable" class="table table-striped table-colored table-info">
								    <thead>
										<tr>
											<th>No</th>
									     	<th>Period</th>
									     	<th th:each="date : ${#numbers.sequence(01,31)}" th:text="${date}"></th>
									     	<th>Total</th> 
<!-- 									     	<th>Action</th>  -->
								      	</tr>
									</thead>
								    <tbody>
								    	<tr th:each="userHourLog,i : ${userHourLogsByMonth}">
								        	<td th:text="${i.index+1}"></td>
								        	<td th:text="${userHourLog.month.displayLabel}"></td>
								        	
								        	<td th:each="dateHourLog,j : ${userHourLog.defaultCalendarResponses}">
								        		<th:block th:text="${dateHourLog.dailyHour} ? ${#numbers.formatDecimal(dateHourLog.dailyHour + dateHourLog.extraHour,1,2)} : 0.0"></th:block>
								        	</td>
								        	
								        	<th:block th:if="${#lists.size(userHourLog.defaultCalendarResponses) == 28}">
								        		<td> - </td>
								        		<td> - </td>
								        		<td> - </td>
								        	</th:block>
								        	
								        	<th:block th:if="${#lists.size(userHourLog.defaultCalendarResponses) == 29}">
								        		<td> - </td>
								        		<td> - </td>
								        	</th:block>
								        	
								        	<th:block th:if="${#lists.size(userHourLog.defaultCalendarResponses) == 30}">
								        		<td> - </td>
								        	</th:block>
								        	
								        	<td th:text="${#numbers.formatDecimal(userHourLog.total,1,2)}"></td>
								        </tr>
								    </tbody>
							  	</table>
                        </div>
                                   	
                    </div> <!-- container -->
                    
<!--                     hour log file cotainer  -->
					<div class="card-box" th:classappend="${hideTimeSheet} ? 'hide' : ''">
							<h4 class="m-t-0 header-title"><b>My added time sheet</b></h4> 
							<div class="row mb-20">
                        		<div class="col-sm-3">
									<label class="control-label" for="example-input1-group3">Year</label>
	                                <select class="form-control fstdropdown-select" onchange="if (this.value) window.location.href=this.value">
										<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()) ,2015)}"
	                                        	th:text="${year}" th:value="'?year='+ ${selectYear} +'&yearFile=' + ${year}+ '&timeSheet=' + ${hideReport}"
	                                        	th:selected="${year == selectYearFile}">
	                                        		
	                                   	</option>
	                         		</select>
                          		</div>
                        		<div class="col-sm-3">
									<label class="control-label" for="example-input1-group3">Client</label>
	                                <select class="form-control fstdropdown-select" th:onchange="'selectClient(this.value,\''+ ${hideReport} + '\',\'' + ${hideTimeSheet} +'\')'">
										<option th:each="details : ${userDetails}"
	                                        	th:text="${details.clientName}" th:value="${details.userDetailId}"
	                                        	th:selected="${details.userDetailId == userDetailId}">
	                                        		
	                                   	</option>
	                         		</select>
                          		</div>
<!--                           		<div class="col-sm-6"> -->
<!--                           			<button class="btn btn-primary waves-effect waves-light mb-20" data-toggle="modal" data-target="#con-close-modal" style="float: right;" onclick="$('#form')[0].reset();">Add Hour Log file</button> -->
<!--                           		</div> -->
                      		</div> 
                      		<div class="setResponsive">
                      		
								<table id="datatable" class="table table-striped  table-colored table-info">
								    <thead>
										<tr>
											<th>No</th>
									     	<th>Period</th>
									     	<th>Upload Date</th>
									     	<th>Status</th>
									     	<th>Action</th> 
								      	</tr>
									</thead>
								    <tbody>
										<tr th:each="hourLogFile,i : ${hourLogFiles}">
								        	<td th:text="${i.index+1}"></td>
									     	<td th:text="${#dates.format(hourLogFile.startDate, 'MMM-dd-yyyy ') + ' TO ' + #dates.format(hourLogFile.endDate, 'MMM-dd-yyyy ')}"></td>
									     	<td th:text="${#dates.format(hourLogFile.createdDatetime, 'MMM-dd-yyyy HH:MM')}"></td>
									     	<td>
									     		<div th:if="${hourLogFile.reject}">
													<a class='btn btn-xs btn-danger' data-toggle='modal' data-target='#panel-modal' >Rejected</a>
													<div id='panel-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' style='display: none;'>
						                        
							                           <div class='modal-dialog'>
							                               <div class='modal-content p-0 b-0'>
							                                   <div class='panel panel-color panel-primary'>
							                                       <div class='panel-heading'>
							                                           <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
							                                         	<h3 class='panel-title'>Reason</h3>
							                                       </div>
							                                       <div class='panel-body'>
							                                          <p th:text="${hourLogFile.rejectReason}"></p>
							                                       </div>
							                                   </div>
							                               </div>
							                           </div>
							                       </div>
						                       </div>
						                       	
			                                   <div th:if="${hourLogFile.approve}">
			                                    	<button class='btn btn-success btn-xs'>Approved</button>
			                                   </div>
			                                   <div th:if="${!hourLogFile.approve} and ${!hourLogFile.reject}">
			                                    	<button class='btn btn-primary btn-xs'>submitted</button>
			                                   </div>
									     		
									     	</td>
									     	<td>
									     		<a th:if="${!hourLogFile.approve}" th:onclick="'deleteFile('+ ${hourLogFile.id}+')'"><i class="ion-trash-a icon-size-24" data-toggle="tooltip" data-placement="right" title="Delete"></i></a>
			                                   	<a th:if="${!hourLogFile.approve}" th:href="@{|/user/hour-log-file/edit/${hourLogFile.id}|}" class="">
										     		<i class="ion-edit icon-size-24" data-toggle="tooltip" data-placement="left" title="Edit"></i>
										     	</a>
										     	<a th:if="${hourLogFile.fileOriginalName} and ${hourLogFile.filePath}" th:href="@{|/user/user-hour-file/download/${hourLogFile.id}|}" th:attr="download=${hourLogFile.fileOriginalName}" class="">
										     		<i class="ion-ios7-cloud-download icon-size-24" data-toggle="tooltip" data-placement="left" title="Download"></i>
										     	</a>
			                                   	
									     	</td>
								      	</tr>
								    </tbody>
							  	</table>
							</div>
						</div>
						<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        	<div class="modal-dialog">
	                           	<div class="modal-content">
	                                    <div class="modal-header">
	                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                                        <h4 class="modal-title">Add time sheet</h4>
	                                    </div>
	                                     <div id="errorDiv"></div>
	                                    <div class="modal-body">
	                                    <form id="form" th:object="${hourLogFileRequest}" enctype="multipart/form-data" th:action="@{/user/add-user-hour-log-file}" method="post" data-parsley-validate>
	                                        <div class="row">
	                                            <div class="col-md-12">
													<div class="form-group">
		                                              	<label for="hour-log-file">File<span class="text-danger">*</span></label>
		                                              	<input  class="form-control" id="hourLogFile" name="file" type="file" required multiple/>
		                                              	<input  name="userDetailId" type="hidden" th:value="${userDetailId}" required/>
	                                          		</div>
	                                            </div>
	                                        </div>
	                                        <div class="row">
	                                            <div class="col-md-6">
													<div class="form-group">
		                                                <label for="startDate">Start Date<span class="text-danger">*</span></label>
														  <input class="form-control" name="startDate" data-inputmask-alias="mm/dd/yyyy" data-inputmask="'yearrange': { 'minyear': '1917', 'maxyear': '2025' }" data-val="true" data-val-required="Required" id="DATE" placeholder="mm/dd/yyyy" type="text" value="" required/>
	                                            	</div>
	                                            </div>
	                                            <div class="col-md-6">
	                                                <div class="form-group">
		                                                <label for="endDate">End Date<span class="text-danger">*</span></label>
		                                                <input class="form-control" name="endDate" data-inputmask-alias="mm/dd/yyyy" data-inputmask="'yearrange': { 'minyear': '1917', 'maxyear': '2025' }" data-val="true" data-val-required="Required" id="DATE1" placeholder="mm/dd/yyyy" type="text" value="" required/>
	                                            	</div>
	                                            </div>
	                                        </div>
	                                        <div class="row">
	                                            <div class="col-md-12">
													<div class="form-group">
														<label for="field-7" class="control-label">Description</label>
			                                  			<textarea class="form-control autogrow" id="field-7" name="description" placeholder="Write description...." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
	                                          		</div>
	                                            </div>
	                                        </div>
		                                    <div class="modal-footer">
		                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
		                                        <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
		                                    </div>
	                                  </form>  
                                 </div>
                             </div>
                         </div><!-- /.modal -->
					</div>
<!--                      end hour log file cotainer -->
                </div> <!-- content -->

            </div>

        </div>
        <!-- END wrapper -->
		<footer class="footer text-right"> 2016 - 2018 © Zircos. </footer>
        <script>
            var resizefunc = [];
        </script>
        
        <script th:inline="javascript">
		/*<![CDATA[*/
			var context = [[@{/}]];
			var userDetailId = [[${userDetailId}]]
			var userDetail = [[${userDetail}]]
			var year = [[${selectYear}]]
			/*]]>*/
		</script>

        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
        <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>

        <script th:src="@{/assets/js/jquery.app.js}"></script>
        <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
        <script th:src="@{/assets/js/jquery.twbsPagination.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js"></script>
        <script th:src="@{/assets/plugins/sweetalert2/sweetalert2.min.js}"></script>
        <script th:src="@{/assets/plugins/sweetalert2/sweet-alerts.init.js}"></script> 
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/fstdropdown.js}"></script>
        <script th:src="@{/assets/js/jquery.inputmask.bundle.js}"></script>
        <script th:src="@{/assets/js/javascript/common.js}"></script>
        <script th:src="@{/assets/js/javascript/user-hour-log.js}"></script>
		
    </body>
</html>