<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- App title -->
        <title>Registraion</title>

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <script src="assets/js/modernizr.min.js"></script>

    </head>


    <body>

        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                  <div class="spinner-wrapper">
                    <div class="rotator">
                      <div class="inner-spin"></div>
                      <div class="inner-spin"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="m-t-40 account-pages">
                                <div class="text-center account-logo-box">
                                    <h2 class="text-uppercase">
                                        <a href="index.html" class="text-success">
                                            <span><img src="assets/images/logo.png" alt="" height="36"></span>
                                        </a>
                                    </h2>
                                    <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                                </div>
                                
                                <div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${error}">
		                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                <span aria-hidden="true">×</span>
		                            </button>
		                            <strong>Oh snap!</strong> <th:block th:text="${error}"></th:block>
		                        </div>
		                        <div class="alert alert-success alert-dismissible fade in" role="alert" th:if="${success}">
		                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                <span aria-hidden="true">×</span>
		                            </button>
		                            <strong>Success</strong> <th:block th:text="${success}"></th:block>
		                        </div>
                                <div class="account-content">
                                    <form class="form-horizontal" th:action="@{/registration}" th:object="${user}" method="post">
                                  			<div class="form-group ">
                                                  <label for="userName" th:text="#{first.nm}">First Name<span class="text-danger">*</span></label>
                                                  <input type="text" th:field="*{firstName}" parsley-trigger="change" required
                                                         placeholder="Enter first name" class="form-control">
                                                  <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
                                              </div>
                                              <div class="form-group ">
                                                  <label for="emailAddress" th:text="#{last.nm}">Last Name<span class="text-danger">*</span></label>
                                                  <input type="text" th:field="*{lastName}" parsley-trigger="change" required
                                                         placeholder="Enter last name" class="form-control">
                                                  <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                                              </div>
                                              <div class="form-group ">
                                                  <label for="emailAddress" th:text="#{email}">Email<span class="text-danger">*</span></label>
                                                  <input type="email" th:field="*{email}"  parsley-trigger="change" required
                                                         placeholder="Enter email" class="form-control">
                                                  <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message text-danger"></label>
                                              </div>
                                              <div class="form-group ">
                                                  <label for="workEmailAddress">Work Email<span class="text-danger"></span></label>
                                                  <input type="email" th:field="*{workEmail}"  parsley-trigger="change" required
                                                         placeholder="Enter email" class="form-control">
                                                  <label th:if="${#fields.hasErrors('workEmail')}" th:errors="*{workEmail}" class="validation-message"></label>
                                              </div>
                                              <div class="form-group ">
                                                  <label for="emailAddress" th:text="#{phone}">Phone<span class="text-danger">*</span></label>
                                                  <input type="text" th:field="*{phone}" parsley-trigger="change" required
                                                         placeholder="Enter phone" class="form-control" >
                                                  <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="validation-message"></label>
                                              </div>
                                              
                                              <div class="form-group ">
                                                  <label for="pass1" th:text="#{pass}">Password<span class="text-danger">*</span></label>
                                                  <input id="pass1" type="password" th:field="*{password}"  placeholder="Password" required
                                                         class="form-control">
                                              </div>
                                              <div class="form-group ">
                                                  <label for="passWord2" th:text="#{conf.pass}">Confirm Password <span class="text-danger">*</span></label>
                                                  <input data-parsley-equalto="#pass1" type="password" required
                                                         placeholder="Password" class="form-control" id="passWord2">
                                              </div>
							
                                        <div class="form-group account-btn text-center m-t-10">
                                            <div class="col-xs-12">
                                                <button class="btn w-md btn-danger btn-bordered waves-effect waves-light" type="submit">Register</button>
                                            </div>
                                        </div>

                                    </form>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                            <!-- end card-box-->


                            <div class="row m-t-50">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">Already have account?<a th:href="@{/login}" class="text-primary m-l-5"><b>Sign In</b></a></p>
                                </div>
                            </div>

                        </div>
                        <!-- end wrapper -->

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>

    </body>
</html>