<div id="view-table" class='col-12 col-sm-12 col-md-12 height-file-popup pd-20 overflow-srcoll'>
	<h1> Schedular </h1>
	
	<p>Schedular set on Date : <span th:text="${createDate}"></span></p>
	<p>Schedular set by : <span th:text="${createByUser.firstName + ' ' + createByUser.lastName}"></span></p>
	<table id="hours-table" class="table table-striped  table-colored table-info">
   		<thead>
 			<tr>
	            <th class="p-20">No</th>
	            <th class="p-20">Date</th>
	            <th class="p-20">Daily Hours</th>
	            <th class="p-20">Extra Hours</th>
	            <th class="p-20">Vacation</th>
	    	</tr>
		</thead>
		<tbody>
			<tr class="p-20" th:each="hourLog,index : ${schedularResponses.calendarResponse}">
		        <td class="p-20" th:text="${index.index + 1}">
		        </td>
		        <td class="p-20" th:text="${#strings.replace(hourLog.date,'00:00:00 IST','')}">
		        </td>
		        <td class="p-20" th:text="${hourLog.dailyHours}">
		        </td>
		        <td class="p-20" th:text="${hourLog.extraHours}">
		        </td>
		        <td class="p-20" th:text="${hourLog.vacationHours}" >
		        </td>
 			</tr>
		</tbody>
	</table>			
</div>
<style>
	.p-20{
		padding: 20px;
	}
	.form-group{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	td, th {
  		border: 1px solid #ddd;
  		padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
  		padding-top: 12px;
  		padding-bottom: 12px;
  		text-align: left;
  		background-color: #d6dbf9;
  		color: #556ee6;
	}
	
</style>