<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>Configuration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="TimeSheet" name="description">
        <meta content="TimeSheet" name="author">
		<!-- DataTables -->
        <link th:href="@{/assets_new/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets_new/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{/assets_new/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
		
		<link th:href="@{/assets/css/fstdropdown.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/assets_new/libs/summernote/summernote-bs4.min.css}">
        <style>
        	.hide{
        	display: none !important;
	        }
	        .link-card:hover{
	            box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.3);
	        }
	        .avatar-title{
	        	background :linear-gradient(#556ee6, #044e6b, #556ee6);
	        }
        </style>
    </head>
    <body data-sidebar="dark" class="sidebar-enable vertical-collpsed">
        <div id="layout-wrapper">
			<th:block th:replace="new/user/header :: header"></th:block>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
                <div data-simplebar class="h-100">
					<th:block th:replace="new/supervisor/menu :: menu"></th:block>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="page-title-box d-flex align-items-center justify-content-between">
									<h4 class="mb-0 font-size-18">Configuration</h4>
									<div class="page-title-right">
	                                     <ol class="breadcrumb m-0">
	                                         <li class="breadcrumb-item active">Configuration</li>
	                                     </ol>
	                                 </div>
								</div>
							</div>
						</div>
						<div class="row">
                        	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" th:if="${permissionService.grantPermission(session.user.role, T(com.aim.enums.Functionality).TEMPLATE,T(com.aim.enums.Permission).CREATE, false)}">
	                            <div class="card link-card">
	                                <a class="card-body" th:href="@{/admin/template/add}">
	                                    <div class="media">
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                <span class="avatar-title rounded-circle">
                                                    <i class="bx bx-clipboard font-size-24"></i>
                                                </span>
                                            </div>
                                            <div class="media-body text-center">
                                                <h5 class="text-muted font-weight-medium">Template Add</h5>
                                                <p class="m-0">Add & view template</p>
                                            </div>
                                        </div>
	                                </a>
	                            </div>
                         	</div>
                        	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" th:if="${permissionService.grantPermission(session.user.role, T(com.aim.enums.Functionality).TEMPLATE,T(com.aim.enums.Permission).READ, false)}">
	                            <div class="card link-card">
	                                <a class="card-body" th:href="@{/admin/template}">
	                                    <div class="media">
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                <span class="avatar-title rounded-circle">
                                                    <i class="bx bx-clipboard font-size-24"></i>
                                                </span>
                                            </div>
                                            <div class="media-body text-center">
                                                <h5 class="text-muted font-weight-medium">Template List</h5>
                                                <p class="m-0">Template list</p>
                                            </div>
                                        </div>
	                                </a>
	                            </div>
                         	</div>
                        	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	                            <div class="card link-card">
	                                <a class="card-body" href="javascript:void(0);" data-toggle="modal" data-target="#private-signature">
	                                    <div class="media">
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                <span class="avatar-title rounded-circle">
                                                    <i class="bx bx-brush font-size-24"></i>
                                                </span>
                                            </div>
                                            <div class="media-body text-center">
                                                <h5 class="text-muted font-weight-medium">Private signature</h5>
                                                <p class="m-0">Private signature</p>
                                            </div>
                                        </div>
	                                </a>
	                            </div>
                         	</div>
                        	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	                            <div class="card link-card">
	                                <a class="card-body" th:href="@{/profile/change-pass}">
	                                    <div class="media">
                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                <span class="avatar-title rounded-circle">
                                                    <i class="bx bx-key font-size-24"></i>
                                                </span>
                                            </div>
                                            <div class="media-body text-center">
                                                <h5 class="text-muted font-weight-medium">Change password</h5>
                                                <p class="m-0">Change your current password</p>
                                            </div>
                                        </div>
	                                </a>
	                            </div>
                         	</div>
                        	
                    	</div>
					</div> <!-- container-fluid -->
                </div>
            </div>
        </div>
		<div id="private-signature" class="modal fade bs-example-modal-lg"
			tabindex="-1" role="dialog"
			aria-labelledby="private-signatureLabel" aria-hidden="true"
			style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title mt-0">Private signature</h5>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<form id="form" th:action="@{/user/private-signature}" method="post" class="needs-validation">
							<div class="summernote" th:utext="${userLogin.privateSign}"></div> 
							<textarea name="privateSignature" id="description" style="display: none;" required th:value="${userLogin.privateSign}"></textarea>
							<button class="btn btn-primary waves-effect waves-light mt-2" type="submit">
                                Save
                            </button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var context = [[@{/}]];
			/*]]>*/
		</script>
		
        <!-- JAVASCRIPT -->
        <script th:src="@{/assets_new/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets_new/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets_new/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets_new/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets_new/libs/node-waves/waves.min.js}"></script>
			
		<script th:src="@{/assets_new/libs/parsleyjs/parsley.min.js}"></script>
		<script th:src="@{/assets_new/js/pages/form-validation.init.js}"></script>
		<script th:src="@{/assets_new/libs/summernote/summernote-bs4.min.js}"></script>
        <script th:src="@{/assets_new/js/app.js}"></script>
		
		<script th:src="@{/assets/js/fstdropdown.js}"></script>
		<script>
		$(document).ready(function() {
			$(".summernote").summernote({
				toolbar: [
				    // [groupName, [list of button]]
				    ['style', ['bold', 'italic', 'underline', 'clear']],
				    ['font', ['strikethrough', 'superscript', 'subscript']],
				    ['fontsize', ['fontsize']],
				    ['color', ['color']],
				    ['para', ['ul', 'ol', 'paragraph']],
				    ['table', ['table']],
				    ['insert', ['link']],
				    
				  ],
				minHeight:200,maxHeight:500});
			$(".summernote").on("summernote.change", function (e) {   // callback as jquery custom event 
				$("#description").val($('.summernote').summernote('code'));
		 	});

		 	$("#form").submit(function (e){
		 		e.preventDefault();
		 		$.ajax({
				    type : "POST",
				    url : $(this).attr('action'),
				    data: new FormData(this),
				    cache: false,
			        contentType: false,
			        processData: false,
				    success: function(data) {
						
				    	location.reload();
				    },error: function(XMLHttpRequest, textStatus, errorThrown) {
				    }
		 		});
			 });
		});
		</script>
		
     	<th:block th:replace="new/genaralMailSend/genaral-mail-send :: mailSend" th:if="${session.user.role == 'ROLE_ADMIN' || session.user.role == 'ROLE_SUPERVISOR'}"></th:block>
    </body>
</html>