<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>Forgot Password</title>
        <!-- Bootstrap Css -->
        <link th:href="@{/assets_new/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets_new/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{/assets_new/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

    </head>


    <body>

		<div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary"> Reset Password</h5>
                                            <p>Re-Password with Skote.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="assets_new/images/profile-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="index.html">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="assets_new/images/logo.png" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="p-2">
                                    <div class="alert alert-success text-center mb-4" role="alert">
                                        Enter your email address and we'll send you an email with instructions to reset your password. 
                                    </div>
                                    <form th:action="@{/forgot-password/send-mail}" class="needs-validation" data-parsley-validate novalidate>

                                        <div class="form-group">
                                            <label for="useremail">Email</label>
                                                <input class="form-control" name="email" type="email" required
                                                       placeholder="Enter email">
                                        </div>
                                       
                                         <div class="form-group row mb-0">
                                            <div class="col-12 text-right">
                                                <button class="btn btn-primary w-md waves-effect waves-light"
                                                        type="submit">Reset
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>Remember It ? <a href="auth-login.html" class="font-weight-medium text-primary"> Sign In here</a> </p>
                            <p>© 2021 ManageTP. Crafted with <i class="mdi mdi-heart text-danger"></i> by Manage Candidate</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
			
        

        <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="m-t-40 account-pages">
                                <div class="text-center account-logo-box">
                                    <h2 class="text-uppercase">
                                        <a href="index.html" class="text-success">
                                            <span><img th:src="@{/assets/images/logo.png}" alt="" height="36"></span>
                                        </a>
                                    </h2>
                                    <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
                                </div>
                                <div class="account-content">
                                    <div class="text-center m-b-20">
                                        <p class="text-muted m-b-0 font-13">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                                    </div>
                                    

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                            end card-box


                            <div class="row m-t-50">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">Already have account?<a th:href="@{/login}" class="text-primary m-l-5"><b>Sign In</b></a></p>
                                </div>
                            </div>

                        </div>
                        end wrapper

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->

       <!-- jQuery  -->
        <script th:src="@{/assets_new/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets_new/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets_new/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets_new/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets_new/libs/node-waves/waves.min.js}"></script>
        <script th:src="@{/assets_new/libs/parsleyjs/parsley.min.js}"></script>
        <script th:src="@{/assets_new/js/pages/form-validation.init.js}"></script>
        <script th:src="@{/assets_new/js/app.js}"></script>

    </body>
</html>