<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <!-- App title -->
        <title>Registraion</title>

		 <!-- Bootstrap Css -->
        <link th:href="@{/assets_new/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets_new/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{/assets_new/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
        
        <style>
        .captchErrorClass iframe{
        	border: 1px solid #f46a6a;
        	border-radius: .25rem;
        }
        .hide{
        	display: none !important;
        }
        .iti__selected-flag {
		    height: calc(1.5em + .94rem + 2px) !important;
		}
		.iti {
    		display: block !important;
    	}
        .iti__country-list {
	    
	    	overflow-y: overlay !important;
	    }
	    .iti__country-list li{
			width: 250px !important;	    
	    }
        </style>
    </head>
    <body>
		<div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-soft-primary">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Free Register</h5>
                                            <p>Get your free Time Sheet account now.</p>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="assets_new/images/profile-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="index.html">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="assets/images/logo.png" alt="" class="rounded-circle" height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2">
                                	<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
			                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                                <span aria-hidden="true">×</span>
			                            </button>
			                            <strong>Oh snap!</strong> <th:block th:text="${error}"></th:block>
			                        </div>
			                        <div class="alert alert-success alert-dismissible" role="alert" th:if="${success}">
			                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			                                <span aria-hidden="true">×</span>
			                            </button>
			                            <strong>Success</strong> <th:block th:text="${success}"></th:block>
			                        </div>
                                    <form class="form-horizontal" th:class="${captchaErrorMsg}?'captchErrorClass'" th:action="@{/registration}" th:object="${company}" method="post" class="needs-validation" data-parsley-validate novalidate>
            							
                                        <div class="row">
	                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
		                                    	<div class="form-group">
			                                        <label for="userName">First Name<span class="text-danger">*</span></label>
			                                        <input type="text" th:field="*{admin.firstName}" parsley-trigger="change" required
			                                                 placeholder="Enter first name" class="form-control" minlength="2" maxlength="40">
	<!-- 			                                        <input type="hidden" th:field="*{admin.id}"> -->
			                                        <div th:if="${#fields.hasErrors('admin.firstName')}" th:errors="*{admin.firstName}" class="validation-message"></div>
			                                    </div>
	                                  		</div>
	                                        <div class=" col-12 col-sm-12 col-md-12 col-lg-12">
			                                    <div class="form-group">
			                                    	<label for="emailAddress">Last Name<span class="text-danger">*</span></label>
			                                        <input type="text" th:field="*{admin.lastName}" parsley-trigger="change" required
			                                                 placeholder="Enter last name" class="form-control" minlength="2" maxlength="40">
			                                        <div th:if="${#fields.hasErrors('admin.lastName')}" th:errors="*{admin.lastName}" class="validation-message"></div>
			                                    </div>
		                                   </div>
	                                		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
		                                    	<div class="form-group">
			                                        <label for="name">Company Name<span class="text-danger">*</span></label>
			                                        <input type="text" th:field="*{name}" parsley-trigger="change" required
			                                                 placeholder="Enter name" class="form-control" minlength="2" maxlength="40">
			                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></div>
			                                        <div th:if="${nameError}" class="validation-message" th:text="${nameError}"></div>
			                                        <input type="hidden" th:field="*{id}">
			                                    </div>
	                                  		</div>
	                                  		<div class=" col-12 col-sm-12 col-md-12 col-lg-12">
	                                     		 <div class="form-group">
	                                          	 	<label for="emailAddress">Email<span class="text-danger">*</span></label>
	                                                <input type="email" th:field="*{admin.email}"  parsley-trigger="change" required
	                                                 placeholder="Enter email" class="form-control" maxlength="50">
	                                                
	                                                <div th:if="${userEmailError}" class="validation-message" th:text="${userEmailError}"></div>
	                                                <div th:if="${#fields.hasErrors('admin.email')}" th:errors="*{admin.email}" class="validation-message"></div>
	                                             </div>
	                                        </div>
<!-- 	                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"> -->
<!-- 			                                    <div class="form-group"> -->
<!-- 			                                    	<label for="emailAddress">Email<span class="text-danger">*</span></label> -->
<!-- 			                                        <input type="text" th:field="*{address}" parsley-trigger="change" required -->
<!-- 			                                                 placeholder="Enter email" class="form-control" minlength="2" maxlength="200"> -->
<!-- 			                                        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="validation-message"></div> -->
<!-- 			                                    </div> -->
<!-- 		                                   </div> -->
<!-- 	                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"> -->
<!-- 			                                    <div class="form-group"> -->
<!-- 			                                    	<label for="details">Details<span class="text-danger">*</span></label> -->
<!-- 			                                        <textarea type="text" th:field="*{details}" parsley-trigger="change" -->
<!-- 			                                                 placeholder="Enter detail" class="form-control" maxlength="200"></textarea> -->
<!-- 			                                        <div th:if="${#fields.hasErrors('details')}" th:errors="*{details}" class="validation-message"></div> -->
<!-- 			                                    </div> -->
<!-- 		                                   </div> -->
	                                    </div>
<!--                                         <div class="ml-0 mr-0 p-0 col-12 col-sm-12 col-md-12 col-lg-12"> -->
<!--                                         	<div class="form-group"> -->
<!-- 	                                          <label for="emailAddress">Work Email<span class="text-danger">*</span></label> -->
<!-- 	                                          <input type="email" th:field="*{admin.workEmail}"  parsley-trigger="change" maxlength="50" required -->
<!-- 	                                                 placeholder="Enter email" class="form-control"> -->
<!-- 	                                          <div th:if="${#fields.hasErrors('admin.workEmail')}" th:errors="*{admin.workEmail}" class="validation-message"></div> -->
<!-- 	                                        </div> -->
<!--                                         </div> -->
                                        <div class="ml-0 mr-0 p-0 col-12 col-sm-12 col-md-12 col-lg-12">
	                                    	<div class="form-group">
	                                        	<label for="demo">Phone<span class="text-danger">*</span></label>
	                                            <input type="tel" th:field="*{admin.phone}" parsley-trigger="change" required placeholder="" id="telephone" class="form-control">
	                                          	<div th:if="${#fields.hasErrors('admin.phone')}" th:errors="*{admin.phone}" class="validation-message"></div>
	                                      	</div>
                                        </div>
                                		<div class="ml-0 mr-0 p-0 col-12 col-sm-12 col-md-12 col-lg-12">
                                      		<div class="form-group">
                                            	<label for="pass1">Password<span class="text-danger">*</span></label>
                                          		<input id="pass1" type="password" th:field="*{admin.password}" minlength="6" maxlength="10" placeholder="Password" required
                                                 	class="form-control">
                                      		</div>
                                  		</div>
                                        <div class="ml-0 mr-0 p-0 col-12 col-sm-12 col-md-12 col-lg-12">
	                                    	<div class="form-group">
	                                      	  <label for="passWord2">Confirm Password <span class="text-danger">*</span></label>
	                                          <input data-parsley-equalto="#pass1" type="password" required
	                                                 placeholder="Password" class="form-control" minlength="6" maxlength="10" id="passWord2">
	                                      	</div>
                                   	    </div>
                                        <div class="ml-0 mr-0 p-0 col-12 col-sm-12 col-md-12 col-lg-12">
	                                    	<div class="form-group">
		                                    	<div class="custom-control custom-checkbox custom-checkbox-primary mb-3">
	                                                <input type="checkbox" class="custom-control-input" id="customCheckcolor1" required>
	                                                <label class="custom-control-label" for="customCheckcolor1">
	                                                	By clicking on "start free trial". You acknowledge having read our "Privacy Policy" and "Term and Condition".
	                                                </label>
	                                            </div>
	                                      	</div>
                                   	    </div>
                                   	    
                                   	    <div class="g-recaptcha col-12 col-sm-12 col-md-12 col-lg-12 mt-5"  
								          th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
								          <span id="captchaError" class="alert alert-danger col-12 col-sm-12 col-md-12 col-lg-12"
								          style="display:none"></span>
                                   	    <div th:if="${captchaErrorMsg}" class="validation-message" th:text="${captchaErrorMsg}"></div>
                                   	    
								        <div class="form-group text-center mt-5">
	                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
	                                            Submit
	                                        </button>
	                                        <a class="btn btn-danger waves-effect m-l-5" th:href="@{/login}">
	                                            Cancel
	                                        </a>
	                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <div>
                                <p>Already have an account ? <a th:href="@{/login}" class="font-weight-medium text-primary"> Login</a> </p>

								<p>© 2021 ManageTP. Crafted with <i class="mdi mdi-heart text-danger"></i> by Manage Candidate LLC</p>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<style>
		.validation-message{width: 100%;
		    margin-top: .25rem;
		    font-size: 80%;
		    color: #f46a6a;
		 }
			
		</style>

	<!-- jQuery  -->
        <script th:src="@{/assets_new/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets_new/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets_new/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets_new/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets_new/libs/node-waves/waves.min.js}"></script>
        <script th:src="@{/assets_new/libs/parsleyjs/parsley.min.js}"></script>
        <script th:src="@{/assets_new/js/pages/form-validation.init.js}"></script>
        <script th:src="@{/assets_new/js/app.js}"></script>
        
        <script th:src="@{/assets_new/libs/plugin/intlTelInput.min.js}"></script>
		<script th:src="@{/assets_new/libs/plugin/intlTelInput-jquery.min.js}"></script>
		
        <script th:src="@{/assets/js/javascript/country-phone-code.js}"></script>
        
        
    </body>
</html>