<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- App title -->
        <title>Signature</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="TimeSheet" name="description">
        <meta content="TimeSheet" name="author">
		 
        <link th:href="@{/assets_new/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

 		<!-- Responsive datatable examples -->
        <link th:href="@{/assets_new/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />     
        
        <!-- Bootstrap Css -->
        <link th:href="@{/assets_new/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets_new/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link th:href="@{/assets_new/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />
		
		<link th:href="@{/assets/css/fstdropdown.css}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" th:href="@{/assets_new/libs/summernote/summernote-bs4.min.css}">
		<style>
			div.dataTables_wrapper div.dataTables_filter input {
			     margin-left: 0em; 
			     display: block; 
			     width: auto; 
			}
		</style>
    </head>
    <body data-sidebar="dark" class="sidebar-enable vertical-collpsed">
        <!-- Begin page -->
        <div id="layout-wrapper">
			<th:block th:replace="new/user/header :: header"></th:block>
            <div class="vertical-menu">
                <div data-simplebar class="h-100">
					<th:block th:replace="new/admin/menu :: menu"></th:block>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="page-title-box d-flex align-items-center justify-content-between">
									<h4 class="mb-0 font-size-18">Signature</h4>
									<div class="page-title-right">
                                       <ol class="breadcrumb m-0">
                                           <li class="breadcrumb-item"><a th:href="@{/admin/home}">Dashboards</a></li>
                                           <li class="breadcrumb-item active">Signature</li>
                                       </ol>
                                   </div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<div class="card">
									<div class="card-body">
										<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
											<a class="btn btn-primary waves-effect waves-light mb-3" href="javascript:void(0);" data-toggle="modal" data-target="#signature-modal">
	                                            Add new signature 
	                                        </a>
										</div>
										<table id="datatable"
											class="table table-bordered table-responsive nowrap"
											style="border-collapse: collapse; border-spacing: 0; width: 100%;">
											<thead>
												<tr>
													<th>No</th>
						                            <th>Signature title</th>
						                            <th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd gradeX" th:each="sig,index : ${signatures}">
													<td th:text="${index.index + 1}"></td>
					                                <td th:text="${sig.title}"></td>
					                                <td>
					                                	<a href="javascript:void(0);" th:onclick="'viewSignature(\''+${sig.htmlDate}+'\')'" data-toggle="tooltip" data-placement="left" title="View"><i class="bx bxs-notepad font-size-16"></i></a>
<!-- 					                           			<a href="javascript:void(0);" th:onclick="'editSignature(\''+${sig.id}+'\')'" data-toggle="tooltip" data-placement="left" title="Edit"><i class="fas fa-pen-square font-size-16"></i></a> -->
					                           			<a href="javascript:void(0);" th:onclick="'deleteSignature(\''+${sig.id}+'\')'">
				                                            <i class="fa fa-trash font-size-16"></i>
				                                        </a>
					                                </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div id="signatureView" class="modal fade bs-example-modal-lg"
							tabindex="-1" role="dialog"
							aria-labelledby="signature-modalLabel" aria-hidden="true"
							style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div id="signatureViewText">
										</div>
									</div>
<!-- 									<div class="modal-footer"> -->
<!-- 										<button type="button" class="btn btn-danger" -->
<!-- 											data-dismiss="modal">Close</button> -->
<!-- 									</div> -->
								</div>
							</div>
						</div>
						<div id="signature-modal" class="modal fade bs-example-modal-lg"
							tabindex="-1" role="dialog"
							aria-labelledby="signature-modalLabel" aria-hidden="true"
							style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title mt-0" id="custom-width-modalLabel">
											Signature add <span id="view_title_name"></span></h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-hidden="true">×</button>
									</div>
									<div class="modal-body">
										<div id="user-details-modal">
		                        			<div id="emailAlert"></div>
											<form id="submitSignature" th:action="@{/admin/signature/add}" th:object="${signature}" method="post" class="needs-validation" data-parsley-validate novalidate>
												<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			                                    	<div class="form-group">
				                                        <label for="subject">Title<span class="text-danger">*</span></label>
				                                        <input type="text" th:field="*{title}" parsley-trigger="change" required
	                                                 			placeholder="Enter subject" class="form-control" id="titleId" maxlength="230">
                                        				<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></div>
				                                    </div>
		                                  		</div>
		                                  		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
			                                    	<div class="form-group">
				                                        <label for="subject">Signature<span class="text-danger">*</span></label>
				                                        <div class="summernote" th:utext="${signature.htmlDate}"></div>
				                                    </div>
				                                    <textarea th:field="*{htmlDate}" id="description" style="display: none;" required></textarea>
				                                    <input type="hidden" th:field="*{id}">
		                                  		</div>
		                                  		<div class="col-12 col-sm-12 col-md-12 col-lg-12">
		                                  			<div class="form-group text-center">
				                                        <button class="btn btn-primary waves-effect waves-light" type="submit">
				                                            Save
				                                        </button>
				                                    </div>
		                                  		</div>
											</form>
										</div>
									</div>
<!-- 									<div class="modal-footer"> -->
<!-- 										<button type="button" class="btn btn-danger" -->
<!-- 											data-dismiss="modal">Close</button> -->
<!-- 									</div> -->
								</div>
							</div>
						</div>
					</div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->
        </div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var context = [[@{/}]];
			/*]]>*/
		</script>
        <!-- JAVASCRIPT -->
        <script th:src="@{/assets_new/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets_new/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets_new/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets_new/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets_new/libs/node-waves/waves.min.js}"></script>
			
        <!-- Required datatable js -->
        <script th:src="@{/assets_new/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets_new/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
        
        <!-- Responsive examples -->
        <script th:src="@{/assets_new/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/assets_new/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/assets_new/libs/parsleyjs/parsley.min.js}"></script>
        <script th:src="@{/assets_new/js/pages/form-validation.init.js}"></script>
        <!-- Datatable init js -->
        <script th:src="@{/assets_new/js/pages/datatables.init.js}"></script>    

        <script th:src="@{/assets_new/js/app.js}"></script>
		<script th:src="@{/assets_new/libs/summernote/summernote-bs4.min.js}"></script>
		<script th:src="@{/assets/js/fstdropdown.js}"></script>
		<script th:src="@{/assets_new/js/signature.js}"></script>
		<th:block th:replace="new/genaralMailSend/genaral-mail-send :: mailSend" th:if="${session.user.role == 'ROLE_ADMIN' || session.user.role == 'ROLE_SUPERVISOR'}"></th:block>
    </body>
</html>