<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Add Company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="TimeSheet" name="description">
        <meta content="TimeSheet" name="author">
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
        <!-- Bootstrap Css -->
        <link th:href="@{/assets_new/css/bootstrap.min.css}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link th:href="@{/assets_new/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets_new/css/app.min.css}" id="app-style" rel="stylesheet" type="text/css" />

        <link th:href="@{/assets_new/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets_new/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />     
        
        <link th:href="@{/assets_new/css/page/adminHome.css}" rel="stylesheet" type="text/css" />
    </head>
    <body data-sidebar="dark" class="sidebar-enable vertical-collpsed">
        <div id="layout-wrapper">
			<th:block th:replace="new/user/header :: header"></th:block>
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
                <div data-simplebar class="h-100">
					<th:block th:replace="new/superAdmin/menu :: menu"></th:block>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
						<!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Company</h4>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Dashboards</a></li>
                                            <li class="breadcrumb-item active">Company list</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <div class="card">
                        	<div class="card-body">
                            	<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
		                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                <span aria-hidden="true">×</span>
		                            </button>
		                            <strong>Oh snap!</strong> <th:block th:text="${error}"></th:block>
		                        </div>
		                        <div class="alert alert-success alert-dismissible" role="alert" th:if="${success}">
		                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		                                <span aria-hidden="true">×</span>
		                            </button>
		                            <strong>Success</strong> <th:block th:text="${success}"></th:block>
		                        </div>
		                        <div id="emailAlert">
		                        </div>
                                <table id="datatable"
									class="table table-bordered table-responsive nowrap">
									<thead>
										<tr>
											<th>No</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr class="odd gradeX" th:each="company,index : ${companyList}">
                                            <td th:text="${index.index + 1}"></td>
                                            <td th:text="${company.name}"></td>
                                            <td th:text="${company.address}"></td>
                                            <td>
                                            	<span class="text-success" th:if="${company.varify}">
                                            		Verify
                                            	</span>
                                            	<span class="text-danger" th:if="${!company.varify}">
                                            		Unverify
                                            	</span>
                                            </td>
                                            <td>
                                            	<th:block th:if="${company.active && company.varify}" >
	                                            	<a th:href="@{${'/super-admin/company-deactive/' + {company.id} } }"><i class="fas fa-dot-circle text-success"
														style="font-size: 20px;" data-toggle="tooltip" data-placement="right" title="Deactive"></i></a>
	                                           	</th:block>
	                                           
	                                           	<th:block th:if="${!company.active && company.varify}" >
	                                            	<a th:href="@{${'/super-admin/company-active/' + {company.id} } }"><i class="fas fa-dot-circle text-danger"
														style="font-size: 20px;" data-toggle="tooltip" data-placement="right" title="Activate"></i></a>
	                                           	</th:block>
	                                           	<th:block th:if="${!company.varify}" >
	                                           		<a href="javascript:void(0)" th:onclick="'resendEmailVarify(\''+${company.id}+'\')'">
	                                           		<i class="fas fa-paper-plane text-primary"
														style="font-size: 20px;" data-toggle="tooltip" data-placement="right" title="Verify email re-send"></i></a>
	                                           	</th:block>
	                                           	&nbsp;
	                                           	<a th:href="@{${'/super-admin/company-detail/' + {company.id} } }">
	                                           		<i class="fas fa-info-circle fa-2x" style="color:orange;font-size: 20px;"  data-toggle="tooltip" data-placement="left" title="Company Details"></i>
	                                           	</a>
	                                           	&nbsp;
	                                           	<th:block th:if="${!company.varify}" >
	                                           		<a th:href="@{${'/super-admin/company-db-create/' + {company.id}}}">
	                                           		<i class="mdi mdi-microsoft-access"
														style="font-size: 20px;" data-toggle="tooltip" data-placement="right" title="Create database"></i>
	                                           		</a>
	                                           	</th:block>
                                           	</td>
                                        </tr>
									</tbody>
								</table>
                             </div>
                         </div>
                     </div>
                  </div> <!-- container -->
             </div> <!-- content -->
        </div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			var context = [[@{/}]];
			/*]]>*/
		</script>
        <!-- JAVASCRIPT -->
        <script th:src="@{/assets_new/libs/jquery/jquery.min.js}"></script>
        <script th:src="@{/assets_new/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets_new/libs/metismenu/metisMenu.min.js}"></script>
        <script th:src="@{/assets_new/libs/simplebar/simplebar.min.js}"></script>
        <script th:src="@{/assets_new/libs/node-waves/waves.min.js}"></script>
		
		<script th:src="@{/assets_new/libs/parsleyjs/parsley.min.js}"></script>
        <script th:src="@{/assets_new/js/pages/form-validation.init.js}"></script>
        <script th:src="@{/assets_new/js/app.js}"></script>
        
		<!-- Required datatable js -->
        <script th:src="@{/assets_new/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/assets_new/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
        
        <!-- Responsive examples -->
        <script th:src="@{/assets_new/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/assets_new/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
       
		<!-- Datatable init js -->
        <script th:src="@{/assets_new/js/pages/datatables.init.js}"></script>  
        <script th:src="@{/assets_new/js/companyList.js}"></script>  
        
		<!-- apexcharts -->
<!--         <script th:src="@{/assets_new/libs/apexcharts/apexcharts.min.js}"></script> -->
        
<!--         Saas dashboard init -->
<!--         <script th:src="@{/assets_new/js/pages/saas-dashboard.init.js}"></script> -->
<!--         <script th:src="@{/assets_new/js/app.js}"></script> -->
<!--         <script th:src="@{/assets/js/fstdropdown.js}"></script> -->
<!--         <script th:src="@{/assets_new/js/home-page-filter.js}"></script> -->
        
        
    </body>
</html>